USE [master]
GO
/****** Object:  Database [Yoan_Film]    Script Date: 12/08/2018 23:54:08 ******/
CREATE DATABASE [Yoan_Film]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Yoan_Film', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Yoan_Film.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Yoan_Film_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Yoan_Film_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Yoan_Film].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Yoan_Film]
GO
/****** Object:  Table [dbo].[LISTA_ESPERA_T]    Script Date: 12/08/2018 23:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LISTA_ESPERA_T](
	[IDLISTA] [int] IDENTITY(1,1) NOT NULL,
	[IDSOCIO] [int] NULL,
	[IDPELICULA] [varchar](25) NULL,
	[FECHA_DE_ENTREGA] [varchar](12) NULL,
 CONSTRAINT [PK_LISTA_ESPERA_T_IDLISTA] PRIMARY KEY CLUSTERED 
(
	[IDLISTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 12/08/2018 23:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[IDPELICULAS] [varchar](25) NOT NULL,
	[TITULO] [varchar](40) NOT NULL,
	[GENERO] [varchar](25) NULL,
	[DIRECTOR] [varchar](50) NULL,
	[ACTORUNO] [varchar](25) NULL,
	[ACTORDOS] [varchar](25) NULL,
	[ACTORTRES] [varchar](25) NULL,
	[DESCRIPCION] [varchar](110) NULL,
 CONSTRAINT [PK_PELICULAS] PRIMARY KEY CLUSTERED 
(
	[IDPELICULAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PELICULAS_RENTADAS]    Script Date: 12/08/2018 23:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PELICULAS_RENTADAS](
	[IDSOCIO] [int] NULL,
	[IDPELICULAS] [varchar](25) NULL,
	[FECHA] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOCIOS_T]    Script Date: 12/08/2018 23:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOCIOS_T](
	[IDSOCIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[DIRECCION] [varchar](60) NULL,
	[TELEFONO] [varchar](12) NULL,
	[ACTFAVORITOS] [varchar](100) NULL,
	[GENFAVORITOS] [varchar](100) NULL,
 CONSTRAINT [PK_SOCIOS_T_IDSOCIOS] PRIMARY KEY CLUSTERED 
(
	[IDSOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LISTA_ESPERA_T] ON 

INSERT [dbo].[LISTA_ESPERA_T] ([IDLISTA], [IDSOCIO], [IDPELICULA], [FECHA_DE_ENTREGA]) VALUES (2, 1, N'1', N'20/08/2018')
INSERT [dbo].[LISTA_ESPERA_T] ([IDLISTA], [IDSOCIO], [IDPELICULA], [FECHA_DE_ENTREGA]) VALUES (3, 2, N'2', N'01/03/2018')
INSERT [dbo].[LISTA_ESPERA_T] ([IDLISTA], [IDSOCIO], [IDPELICULA], [FECHA_DE_ENTREGA]) VALUES (4, 3, N'3', N'09/09/2017')
SET IDENTITY_INSERT [dbo].[LISTA_ESPERA_T] OFF
INSERT [dbo].[PELICULAS] ([IDPELICULAS], [TITULO], [GENERO], [DIRECTOR], [ACTORUNO], [ACTORDOS], [ACTORTRES], [DESCRIPCION]) VALUES (N'1', N'DURO DE MATAR', N'ACCION', N'TOM CRUISE', N'BRUCE WILLY', N'MARIO CIMARRO', N'CHAYANNE', N'ESTE FILM TRATA DE UNA HOMBRE QUE ES DURO DE MATAR')
INSERT [dbo].[PELICULAS] ([IDPELICULAS], [TITULO], [GENERO], [DIRECTOR], [ACTORUNO], [ACTORDOS], [ACTORTRES], [DESCRIPCION]) VALUES (N'10', N'SANKY PANKY', N'COMEDIA', N'ARCHI LOPEZ ', N'TONY PASCUAL ', N'FAUSTO MATA ', N'AQUILES CORREA', N'ESTA PELICULA REDATA LO DIFICIL QUE ES ENAMORARSE DE UNA PERSONA SIN SABER SU IDIOMA')
INSERT [dbo].[PELICULAS] ([IDPELICULAS], [TITULO], [GENERO], [DIRECTOR], [ACTORUNO], [ACTORDOS], [ACTORTRES], [DESCRIPCION]) VALUES (N'2', N'LA COLOMBIANA', N'ACCION', N'ROGER HUDSON', N'ZOE SALDANA ', N'BLASS ROSMAN', N'JASON RODRUIGUEZ', N'ES UNA DE LAS MEJORES MOVIE QUE HAYAS VISTO')
INSERT [dbo].[PELICULAS_RENTADAS] ([IDSOCIO], [IDPELICULAS], [FECHA]) VALUES (1, N'1', N'10/08/18')
INSERT [dbo].[PELICULAS_RENTADAS] ([IDSOCIO], [IDPELICULAS], [FECHA]) VALUES (2, N'2', N'01/03/2018')
INSERT [dbo].[PELICULAS_RENTADAS] ([IDSOCIO], [IDPELICULAS], [FECHA]) VALUES (3, N'3', N'09/09/2018')
SET IDENTITY_INSERT [dbo].[SOCIOS_T] ON 

INSERT [dbo].[SOCIOS_T] ([IDSOCIO], [NOMBRE], [DIRECCION], [TELEFONO], [ACTFAVORITOS], [GENFAVORITOS]) VALUES (1, N'JOSE JACOBS', N'C/ JUAN SAN TITOPA', N'809-846-2971', N'DENZEL WASHINTONG', N'ACCION/CIENCIA FICCION')
INSERT [dbo].[SOCIOS_T] ([IDSOCIO], [NOMBRE], [DIRECCION], [TELEFONO], [ACTFAVORITOS], [GENFAVORITOS]) VALUES (2, N'YOAN DANCHE', N'C/SANCHEZ KM 22', N'809-549-0988', N'ZOE SALDANA', N'DRAMA')
INSERT [dbo].[SOCIOS_T] ([IDSOCIO], [NOMBRE], [DIRECCION], [TELEFONO], [ACTFAVORITOS], [GENFAVORITOS]) VALUES (3, N'SAMUEL NUNEZ', N'AV. GUSTAVO MEJIA RCART#128', N'809-957-3456', N'ANGELINA JOLIE', N'TERROR')
SET IDENTITY_INSERT [dbo].[SOCIOS_T] OFF
ALTER TABLE [dbo].[LISTA_ESPERA_T]  WITH CHECK ADD FOREIGN KEY([IDPELICULA])
REFERENCES [dbo].[PELICULAS] ([IDPELICULAS])
GO
ALTER TABLE [dbo].[LISTA_ESPERA_T]  WITH CHECK ADD FOREIGN KEY([IDSOCIO])
REFERENCES [dbo].[SOCIOS_T] ([IDSOCIO])
GO
ALTER TABLE [dbo].[PELICULAS_RENTADAS]  WITH CHECK ADD FOREIGN KEY([IDPELICULAS])
REFERENCES [dbo].[PELICULAS] ([IDPELICULAS])
GO
ALTER TABLE [dbo].[PELICULAS_RENTADAS]  WITH CHECK ADD FOREIGN KEY([IDSOCIO])
REFERENCES [dbo].[SOCIOS_T] ([IDSOCIO])
GO
USE [master]
GO
